<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2 force-center">
      <div class="row">
        <div class="col-12 personal-titles-menu component-active mt-2"><span>43 IDEIAS PARA SALVADOR</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('ideias')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/saude-bem-estar.png" alt="Saúde e Bem-estar">
      </div>
      <div class="col-md-12 component-bg-grey space-to-footer">
        <!-- card ionic -->
        <ion-card class="mt-4 radios-card-9">
          <div class="row">
            <div class="col-1 lateral-line"></div>
            <div class="col-11 lateral-content">
              <ion-card-header class="ps-0">
                <ion-card-title class="card-index">01</ion-card-title>
              </ion-card-header>
            
              <ion-card-content class="ps-0">
                <div class="row">
                  <p class="fw-bold component-text-black">Criar um protocolo municipal para o enfrentamento de pandemias, considerando a experiência adquirida com o novo coronavírus.</p>
                </div>
                <div class="row mt-3">
                  <div class="col-6 text-center">
                    <p class="fw-bold">Situação</p>
                    <p>Em andamento</p>
                  </div>
                  <div class="col-6 text-center">
                    <button type="button" class="btn btn-secondary btn-more" (click)="proximo('nosso-mandato')">Saiba mais</button>
                  </div>
                </div>
              </ion-card-content>
            </div>
          </div>
        </ion-card>
      </div>
      <!-- rodapé -->
      <footer class="footer mt-auto py-3 component-footer z-index-up">
        <!-- <div class="container">
          <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
        </div> -->
        <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
      </footer>
    </div>
  </div>
</ion-content>