<ion-content>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <!-- menu -->
      <div id="sideNav" class="col-2 component-bg-login sidenav">
        <div class="text-center">
          <img class="logo-dashboard" src="../../assets/logo-vereador-andre.svg" alt="Vereador André Fraga">
        </div>
      </div>
      <!-- content -->
      <div class="col-10">
        <h1 class="title-dashboard">Usuários cadastrados</h1>
        <div class="table-responsive-md">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA </span><br> 05/01/2021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">NOME COMPLETO </span><br> Víctor Romário Paz de Jesus</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA NASC. </span><br> 14/02/1995</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">TELEFONE </span><br> (71) 99911-4021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">RUA </span><br> Vila Operária 79, 7</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">BAIRRO </span><br> Boa Viagem</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">E-MAIL </span><br> vr.paz.jesus@gmail.com</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">REDES SOCIAIS </span><br> victorromario.programador</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">ELEITOR DE ANDRÉ? </span><br> Sim</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">FOI EMBAIXADOR? </span><br> Sim</td>
              </tr>
              <tr>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA </span><br> 05/01/2021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">NOME COMPLETO </span><br> Víctor Romário Paz de Jesus</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA NASC. </span><br> 14/02/1995</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">TELEFONE </span><br> (71) 99911-4021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">RUA </span><br> Vila Operária 79, 7</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">BAIRRO </span><br> Boa Viagem</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">E-MAIL </span><br> vr.paz.jesus@gmail.com</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">REDES SOCIAIS </span><br> victorromario.programador</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">ELEITOR DE ANDRÉ? </span><br> Sim</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">FOI EMBAIXADOR? </span><br> Sim</td>
              </tr>
              <tr>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA </span><br> 05/01/2021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">NOME COMPLETO </span><br> Víctor Romário Paz de Jesus</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA NASC. </span><br> 14/02/1995</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">TELEFONE </span><br> (71) 99911-4021</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">RUA </span><br> Vila Operária 79, 7</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">BAIRRO </span><br> Boa Viagem</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">E-MAIL </span><br> vr.paz.jesus@gmail.com</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">REDES SOCIAIS </span><br> victorromario.programador</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">ELEITOR DE ANDRÉ? </span><br> Sim</td>
                <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">FOI EMBAIXADOR? </span><br> Sim</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</ion-content>
