<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-3 personal-links-menu text-bottom" (click)="proximo('home')"><span class="project-text-white">Quem sou</span></div>
        <div class="col-3 personal-links-menu" (click)="proximo('nosso-mandato')"><span class="project-text-white">Nosso Mandato</span></div>
        <div class="col-3 personal-links-menu text-bottom component-active" (click)="proximo('colabore')"><span>Colabore</span></div>
        <div class="col-3 personal-links-menu text-bottom" (click)="proximo('contato')"><span class="project-text-white">Contato</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('colabore')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/colabore.png" alt="Colabore">
      </div>
      <div class="col-md-12 component-bg-grey space-to-footer text-center">
        <h2 class="component-text-black-v2 mt-4 fw-bold">Recuperação de senha</h2>
          <div class="mt-4 mb-4">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label component-text-black ms-4">Informe o e-mail cadastrado</label>
              <input [(ngModel)]="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="andre.fraga@gmai.com">
            </div>
            <div class="text-center">
              <div class="mb-5 d-grid gap-2">
                <!-- <a href="#" role="button" class="btn btn-block btn-secondary btn-colabore">Recuperar senha</a> -->
                <button class="btn btn-block btn-secondary btn-colabore" ion-button type="submit" (click)="recoveryPassword()">Recuperar senha</button>
              </div>
              <div class="d-grid gap-2">
                <p class="component-text-black component-active fw-bold">{{response}}</p>
              </div>
            </div>
          </div>
      </div>
      <!-- rodapé -->
      <footer class="footer mt-auto py-3 component-footer z-index-up">
        <!-- <div class="container">
          <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
        </div> -->
        <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
      </footer>
    </div>
  </div>
</ion-content>
