<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-3 personal-links-menu text-bottom" (click)="proximo('home')"><span class="project-text-white">Quem sou</span></div>
        <div class="col-3 personal-links-menu" (click)="proximo('nosso-mandato')"><span class="project-text-white">Nosso Mandato</span></div>
        <div class="col-3 personal-links-menu text-bottom" (click)="proximo('colabore')"><span>Colabore</span></div>
        <div class="col-3 personal-links-menu text-bottom component-active" (click)="proximo('contato')"><span>Contato</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('home')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/contato.png" alt="Nosso Mandato">
      </div>
      <div class="col-md-12 component-bg-grey space-to-footer">
        <p class="component-text-black mt-4">Eu e minha equipe estamos a postos para fazer deste um mandato NOSSO.</p>
        <p class="component-text-black mt-4">Portanto, se você sentiu falta de algum conteúdo no site ou mesmo deseja solicitar uma agenda, conto com a sua colaboração, com o seu contato:</p>
        <div class="mt-4">
          <div class="row">
            <div class="col-2">
              <img class="w-100" src="../../assets/icone-localizacao.png" alt="Localização">
            </div>
            <div class="col-10">
              <p class="component-text-black fw-bold">Endereço do gabinete: Rua Ruy Barbosa, nº27, Edf. Bahia Center, gabinete 33 - Centro - Salvador/BA</p>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img class="w-100" src="../../assets/icone-email.png" alt="Email">
            </div>
            <div class="col-10">
              <p class="component-text-black fw-bold">E-mail: andrefraga@cms.ba.gov <br>Ou agende com minha equipe através do whatsapp:</p>
            </div>
          </div>
        </div>
        <div class="mb-3 d-grid gap-2 mt-3">
          <a href="#" role="button" class="btn btn-block btn-secondary btn-colabore"><span class="me-3"><img src="../../assets/btn-whatsapp.png" alt="Whatsapp"></span> Fale com André</a>
        </div>
      </div>
      <!-- rodapé -->
      <footer class="footer mt-auto py-3 component-footer z-index-up">
        <!-- <div class="container">
          <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
        </div> -->
        <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
      </footer>
    </div>
  </div>
</ion-content>
