<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid distance-top-desktop mb-2">
      <img class="space-left-5 mouse-pointer" src="../../assets/logo-cerebro.png" alt="André Fraga" (click)="proximo('home')">
      <button class="btn personal-btn-login btn-mobile" (click)="proximo('colabore')">Login</button>
    </div>

    <div class="container-fluid distance-top-desktop mb-2 force-center mobile-menu">
      <div class="row">
        <div class="col-12 personal-titles-menu component-active mt-2"><span>FISCALIZAÇÃO</span></div>
      </div>
    </div>

    <div class="container-fluid distance-top-desktop mb-2 force-center desktop-menu">
      <div class="row">
        <div class="col-12 personal-titles-menu-desktop component-active mt-2"><span>FISCALIZAÇÃO</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('nosso-mandato')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/logo-fiscalizacao.png" alt="Logo fiscalização">
      </div>
    </div>
  </div>
  <div class="component-bg-grey">
    <div class="container space-to-footer">
      <div class="row">
        <div class="col-md-12">
          <p class="component-text-black mt-4">Além de legislar, outra função importante do vereador é a de fiscalizar o poder executivo municipal, cujos representantes são o prefeito e o vice-prefeito.</p>
          <p class="component-text-black mt-4">É papel do vereador, portanto, representar a sociedade em sua pluralidade de interesses e  garantir que as políticas públicas estejam sendo implementadas de fato.</p>
          <p class="component-text-black mt-4">Acompanhe, a seguir, as minhas ações de fiscalização e seus respectivos efeitos:</p>
        </div>
      </div>
      <div class="row">
        <div class="card mouse-pointer" style="border-radius: 35px 0px 35px 0px; background: linear-gradient(to bottom, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%); padding-left: 0px; padding-right: 0px;">
          <div class="card-body component-bg-light text-start" style="margin-top: 10px; margin-bottom: 10px; border-radius: 35px 0px 35px 0px; height: 200px;">
            <div id="post-title">
              <h5 class="mt-0 card-title project-text-secondary fw-bold">Titulo</h5>
            </div>
            <div id="post-description">
              <p class="card-text component-text-black container-text">Descricao</p>
            </div>
            <a href="#" class="post-link">Clique para saber mais</a>
          </div>
        </div>
      </div>
    </div>
    <!-- rodapé -->
    <footer class="footer mt-auto py-3 component-footer z-index-up">
      <div class="container">
        <div class="row">
          <!-- titulo -->
          <div class="col-12 text-center">
            <h6 class="project-text-white">ME SEGUE LÁ</h6>
          </div>
          <!-- ícones -->
          <div class="col-12 text-center inline-father">
            <a href="https://twitter.com/euandrefraga" target="_blank">
              <div class="inline-child space-icon">
                <img src="../../assets/icon-twitter.png" alt="Twitter">
              </div>
            </a>
            <a href="https://www.facebook.com/euandrefraga" target="_blank">
              <div class="inline-child space-icon">
                <img src="../../assets/icon-facebook.png" alt="Facebook">
              </div>
            </a>
            <a href="https://www.instagram.com/euandrefraga/" target="_blank">
              <div class="inline-child space-icon">
                <img src="../../assets/icon-instagram.png" alt="Instagram">
              </div>
            </a>
            <a href="https://www.youtube.com/channel/UC7BSLZW3MscGlXvc1dpHekA" target="_blank">
              <div class="inline-child space-icon">
                <img src="../../assets/icon-youtube.png" alt="YouTube">
              </div>
            </a>
            <a href="https://www.linkedin.com/in/andr%C3%A9-fraga-b7b15434" target="_blank">
              <div class="inline-child">
                <img src="../../assets/icon-linkedin.png" alt="Linkedin">
              </div>
            </a>
          </div>
          <!-- divisor -->
          <div class="col-12">
            <hr class="footer-hr mt-4">
          </div>
          <!-- contato -->
          <div class="col-12">
            <p class="project-text-white fw-bold mb-1">ENTRE EM CONTATO</p>
            <p class="project-text-white mb-0 txt-300">E-mail: andrefraga@cms.ba.gov</p>
            <p class="project-text-white mb-0 txt-300">Telefone: 71 9 9318-4941</p>
            <p class="project-text-white txt-300">Endereço: Rua Ruy Barbosa, nº27, Edf. Bahia Center, gabinete 33 - Centro - Salvador/BA</p>
          </div>
          <!-- titulo -->
          <div class="col-12 text-center">
            <h6 class="project-text-white">ANDRÉ FRAGA. TODOS OS DIREITOS RESERVADOS | 2021</h6>
          </div>
        </div>
      </div>
    </footer>
  </div>
</ion-content>
