<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2 force-center">
      <div class="row">
        <div class="col-12 personal-titles-menu component-active mt-2"><span>FISCALIZAÇÃO</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('nosso-mandato')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/logo-fiscalizacao.png" alt="Logo fiscalização">
      </div>
      <div class="col-md-12 component-bg-grey space-to-footer z-index-down">
        <p class="component-text-black mt-4">Além de legislar, outra função importante do vereador é a de fiscalizar o poder executivo municipal, cujos representantes são o prefeito e o vice-prefeito.</p>
        <p class="component-text-black mt-4">É papel do vereador, portanto, representar a sociedade em sua pluralidade de interesses e  garantir que as políticas públicas estejam sendo implementadas de fato.</p>
        <p class="component-text-black mt-4">Acompanhe, a seguir, as minhas ações de fiscalização e seus respectivos efeitos:</p>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <footer class="footer mt-auto py-3 component-footer z-index-up">
    <!-- <div class="container">
      <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
    </div> -->
    <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
  </footer>
</ion-content>
