<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-3 personal-links-menu text-bottom" (click)="proximo('home')"><span class="project-text-white">Quem sou</span></div>
        <div class="col-3 personal-links-menu component-active"><span>Nosso Mandato</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Colabore</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Contato</span></div>
      </div>
    </div>
  </nav>

</ion-content>
