<ion-content>
  <div class="component-bg-login h-100 parent-element-vertically-center">
    <div class="container child-element-vertically-center">
      <div class="row resize-margin">
        <div class="col-md-12">
          <div class="mt-4">
            <div class="text-center">
              <img src="../../assets/logo-vereador-andre.svg" alt="Vereador André Fraga">
            </div>
            <div class="text-center">
              <label class="label-purple fw-bold">Bem vindo(a) à plataforma do mandato de André Fraga!</label>
            </div>
            <div class="mt-3">
              <label for="exampleFormControlInput1" class="form-label component-text-purple ms-4">Usuário</label>
              <input [(ngModel)]="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="andre.fraga@gmai.com">
            </div>
            <div class="mt-3">
              <label for="exampleFormControlInput2" class="form-label component-text-purple ms-4">Senha</label>
              <input [(ngModel)]="password" type="password" class="form-control" id="exampleFormControlInput2" placeholder="#votenoverde">
            </div>
            <div class="text-center">
              <div class="mt-5"></div>
              <div class="d-grid gap-2">
                <button class="btn btn-block btn-secondary btn-purple" ion-button (click)="login()">Login</button>
              </div>
              <div class="mt-5">
                <label (click)="proximo('recupera-senha')" class="label-purple mouse-pointer fw-bold">Esqueci minha senha</label>
              </div>
              <div class="mt-3">
                <p [class]="statusResponse ? 'component-active fw-bold' : 'component-negative fw-bold'">{{response}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
