<ion-content>
  <div class="h-100">
    <div class="row h-100">
      <!-- menu -->
      <div id="sideNav" class="col-2 pe-0 component-bg-login sidenav">
        <div class="text-center">
          <img class="logo-dashboard" src="../../assets/logo-vereador-andre.svg" alt="Vereador André Fraga" (click)="proximo('home')">
          <p class="salutation">Olá, bem-vindo(a)!</p>
          <div id="lateral-buttons" class="text-start">
            <div class="button-dashboard mt-5">
              <a (click)="proximo('visao-geral')"><img class="mouse-pointer" src="../../assets/icon-visao-geral.svg" alt="Visão Geral"></a>
            </div>
            <div class="button-dashboard">
              <a (click)="proximo('quem-sou-dashboard-admin')"><img class="mouse-pointer" src="../../assets/icon-quem-sou.svg" alt="Quem sou"></a>
            </div>
            <div class="button-dashboard">
              <a (click)="proximo('nosso-mandato-dashboard-admin')"><img class="mouse-pointer" src="../../assets/icon-nosso-mandato.svg" alt="Nosso mandato"></a>
            </div>
            <div class="button-dashboard">
              <a (click)="proximo('colabore-dashboard-admin')"><img class="mouse-pointer" src="../../assets/icon-colabore.svg" alt="Colabore"></a>
            </div>
            <div class="button-dashboard">
              <a (click)="proximo('usuarios-cadastrados')"><img class="mouse-pointer" src="../../assets/icon-usuarios-cadastrados.svg" alt="Usuários cadastrados"></a>
            </div>
            <div class="button-dashboard">
              <a (click)="proximo('login')"><img class="mouse-pointer" src="../../assets/icon-sair.svg" alt="Sair"></a>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="col-10 ps-0">
        <div class="container-fluid">
          <h1 class="title-dashboard">Visão Geral</h1>
          <div class="row">
            <div class="col-md-6">
              <div class="text-start">
                <p class="subtitle-dashboard mb-0">ÚLTIMOS USUÁRIOS CADASTRADOS</p>
                <p class="subtitle-as-label">(Total: {{userAmount}})</p>
              </div>
              <div class="table-responsive-md">
                <table class="table table-striped-two">
                  <tbody>
                    <tr *ngFor="let user of users">
                      <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">DATA </span><br> {{user.dayregister}}</td>
                      <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">NOME COMPLETO </span><br> {{user.name}}</td>
                      <td style="font-size: 12px;"><span style="font-weight: bold; font-size: 12px;">BAIRRO </span><br> {{user.district}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-end">
                <button (click)="proximo('usuarios-cadastrados')" type="button" class="export-button btn btn-primary btn-sm">Ver lista</button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-start">
                <p class="subtitle-dashboard mb-0">SUGESTÕES DE PROJETOS DE LEI RECENTES</p>
                <p class="subtitle-as-label">(Total: 34 sugestões enviadas)</p>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="text-start">
                <p class="subtitle-dashboard mb-0">INSCRIÇÕES DE PROJETOS DE EMENDA RECENTES</p>
                <p class="subtitle-as-label">(Total de projetos inscritos: 25)</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="text-start">
                <p class="subtitle-dashboard mb-0">ÚLTIMAS DENÚNCIAS FEITAS</p>
                <p class="subtitle-as-label">(Total de denúncias: 143)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
