<ion-content>
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
    </div>
    <div class="container-fluid mt-2 force-center">
      <div class="row">
        <div class="col-12 personal-titles-menu component-active mt-2"><span>43 IDEIAS PARA SALVADOR</span></div>
      </div>
    </div>
  </nav>
  <!-- botão voltar -->
  <div class="container component-space-nav-8">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-outline-secondary btn-back" (click)="proximo('nosso-mandato')"><span class="fas fa-angle-left"></span>  Voltar</button>
      </div>
    </div>
  </div>
  <!-- logo Nosso Mandato -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center mt-3">
        <img src="../../assets/43-ideias.png" alt="Ideias para Salvador">
      </div>
      <div class="col-md-12 component-bg-grey space-to-footer z-index-down">
        <p class="component-text-black mt-4">Veja o andamento das 43 ideias para Salvador que elaboramos juntos durante a campanha e que estão divididas segundo os Objetivos de Desenvolvimento Sustentável (ODS’s) abaixo:</p>
        <img class="w-100 mt-2" src="../../assets/ods.png" alt="logo da ONU">
        <div class="row">
          <div class="col-6 mt-3">
            <img class="w-100" src="../../assets/ods3.png" alt="logo da ONU">
          </div>
          <div class="col-6 mt-3">
            <img class="w-100" src="../../assets/ods4.png" alt="logo da ONU">
          </div>
          <div class="col-6 mt-3">
            <img class="w-100" src="../../assets/ods13.png" alt="logo da ONU">
          </div>
          <div class="col-6 mt-3">
            <img class="w-100" src="../../assets/ods11.png" alt="logo da ONU">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <footer class="footer mt-auto py-3 component-footer z-index-up">
    <!-- <div class="container">
      <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
    </div> -->
    <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
  </footer>
</ion-content>
