//deafult
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
//new
ion-content {
  --background: var(--ion-color-light);
}

.personal-navbar {
  background-color: var(--ion-color-primary);
  border-radius: 0 0 0 20px;
}

.personal-btn-login {
  border-radius: 50px;
  color: var(--ion-color-secondary);
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.personal-navbar-nav {
  display: flex;
  /* flex-direction: column; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.personal-links-menu {
  text-align: center;
  font-size: 15px;
  // position: relative;
  // margin-left: 16px;
}

.text-bottom {
  margin-top: 20px;
}

.space-left-5 {
  margin-left: 5px;
}

.project-text-white {
  color: var(--ion-color-light);
}

.project-text-white:hover {
  color: var(--ion-color-secondary);
}

.component-background {
  margin-top: -20px;
  z-index: -1;
}

.component-space-nav {
  padding-top: 6rem;
}

.component-text-black {
  font-size: 16px;
  color: var(--ion-color-dark);
}

.component-btn-round {
  margin-top: -20px;
  cursor: pointer;
}

.component-more {
  font-size: 16px;
  font-weight: 600;
  color: #28052e;
  margin-top: 10px;
  margin-bottom: 25px;
}