<ion-content [fullscreen]="true">
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar fixed-top">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
      

      <!-- <div class="row" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div> -->
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-3 personal-links-menu text-bottom component-active"><span>Quem sou</span></div>
        <div class="col-3 personal-links-menu" (click)="proximo('nosso-mandato')"><span class="project-text-white">Nosso Mandato</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Colabore</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Contato</span></div>
      </div>
    </div>
  </nav>
  <!-- slides -->
  <ion-slides class="component-background component-space-nav" pager="false" [options]="slideOpts">
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card1.png" alt="First slide">
    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card2.png" alt="Second slide">
    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card3.png" alt="Third slide">
    </ion-slide>
  </ion-slides>
  <!-- quem sou -->
  <div class="container">
    <div class="text-center" id="saiba-mais">
      <img class="component-btn-round" src="../../assets/btn-down.png" alt="Third slide">
      <p class="component-more">Saiba mais</p>
    </div>
    <div id="bio-andre">
      <p class="component-text-black">Tenho 36 anos, sou engenheiro ambiental, pós-graduado pela FGV e estou no doutorado pela Faculdade de Medicina da USP.</p> 
      <p class="component-text-black">Exerci o cargo de Secretário de Sustentabilidade, Inovação e Resiliência de Salvador de 2014 até março de 2020, quando saí para me candidatar ao cargo de vereador. Fui eleito nas eleições municipais 2020 com 5.621 votos.</p>
      <p class="component-text-black">Também sou vice-presidente da Sociedade Brasileira de Arborização Urbana, líder da Rede de Ação Política pela Sustentabilidade (RAPS) e aluno no RenovaBR Cidades – escola que prepara e forma pessoas comuns para serem políticos fora do comum. </p>
      <p class="component-text-black">Muitos dos projetos idealizados e liderados por mim foram premiados nacional e internacionalmente, fazendo de Salvador uma referência global em sustentabilidade.</p>
      <img src="../../assets/all-logos.png" alt="logos">
    </div>
  </div>
  <!-- valores -->
  <div class="mt-5">
    <!-- foto valores -->
    <div id="img-card">
      <img src="../../assets/valores-andre-fraga.png" alt="Vereador André Fraga">
    </div>
    <!-- conteúdo -->
    <div class="component-bg-secondary">
      <div class="container component-degrade">
        <!-- logo -->
        <div class="text-center pt-4">
          <img src="../../assets/valores.png" alt="Logo de Valores">
        </div>
        <!-- cards -->
        <!-- transparencia -->
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingTwo">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/transparencia.png" alt="ícone de gráfico"></span><span class="title-modal">TRANSPARÊNCIA</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseTwo" class="no-border accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Transparência</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Prestar contas, falar a verdade e eliminar filtros que servem como barreiras para o acompanhamento pela sociedade da atuação pública.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- colaboração -->
        <div class="accordion" id="accordionExample2">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingThree">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/colaboracao.png" alt="ícone de gráfico"></span><span class="title-modal">COLABORAÇÃO</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseThree" class="no-border accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Colaboração</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Engajar pessoas para construir um projeto político através da participação ativa e qualificada.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- sustentabilidade -->
        <div class="accordion" id="accordionExample3">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingFour">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/sustentabilidade.png" alt="ícone de gráfico"></span><span class="title-modal">SUSTENTABILIDADE</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseFour" class="no-border accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample3">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Sustentabilidade</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Propor políticas públicas que supram as necessidades atuais da população, sem colocar em risco o futuro das próximas gerações, equilibrando as dimensões econômica, ambiental e social.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- renovação -->
        <div class="accordion" id="accordionExample5">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingFive">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/renovacao.png" alt="ícone de gráfico"></span><span class="title-modal">RENOVAÇÃO</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseFive" class="no-border accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample5">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Renovação</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Fazer da política institucional um espaço de constante renovação, através da formação de novas lideranças e a eliminação de sucessivas reeleições para funções eletivas.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- inovação -->
        <div class="accordion" id="accordionExample6">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingSix">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/inovacao.png" alt="ícone de gráfico"></span><span class="title-modal">INOVAÇÃO</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseSix" class="no-border accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample6">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Inovação</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Buscar permanentemente vencer barreiras para colocar a Política na rota da inovação, consolidando a democracia e a participação colaborativa cidadã.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- empatia -->
        <div class="accordion" id="accordionExample7">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingSeven">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/empatia.png" alt="ícone de gráfico"></span><span class="title-modal">EMPATIA</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseSeven" class="no-border accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample7">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Empatia</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Compreender os anseios e perspectivas dos grupos que compõem a sociedade a partir do lugar que eles ocupam.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pluradidade -->
        <div class="accordion" id="accordionExample8">
          <div class="accordion-item">
            <!-- header -->
            <div class="accordion-header" id="headingEight">
              <div class="accordion-button collapsed mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                <div class="row">
                  <!-- header -->
                  <div class="col-md-12">
                    <span class="component-space-icon"><img src="../../assets/valores-icons/pluralidade.png" alt="ícone de gráfico"></span><span class="title-modal">PLURALIDADE</span>
                  </div>
                  <!-- content -->
                  <div class="col-md-12">
                    <div id="collapseEight" class="no-border accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample8">
                      <div class="accordion-body p-0">
                        <p class="title-inside-modal mt-2 mb-2">Pluralidade</p>
                        <hr class="component-hr">
                        <p class="content-inside-modal">Garantir a diversidade de ideias, opiniões e vivências para a construção de políticas públicas que atendam as particularidades da comunidade.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pautas -->
      <div class="component-bg-secondary">
        <!-- foto pautas -->
        <div id="img-card" class="mt-5">
          <img class="w-100" src="../../assets/pautas-andre-fraga.png" alt="Vereador André Fraga">
        </div>
        <!-- conteúdo pautas-->
        <div class="component-bg-primary">
          <div class="container component-degrade">
            <!-- logo -->
            <div class="text-center pt-4">
              <img src="../../assets/pautas.png" alt="Logo de Pautas">
            </div>
            <!-- conteúdo -->
            <div class="mt-3 component-p-space">
              <p>Os Objetivos de Desenvolvimento Sustentável são um apelo global à ação para acabar com a pobreza, proteger o meio ambiente e o clima e garantir que as pessoas, em todos os lugares, possam desfrutar de paz e de prosperidade.</p>
              <p>Sendo assim, as nossas ideias para Salvador estão alinhadas a esses objetivos. Para isso, quatro ODS serão priorizados, são eles:</p>
            </div>
            <!-- cards -->
            <!-- ods3 -->
            <div class="text-center mb-3">
              <div class="card component-card-title">
                <div class="component-card-body">
                  ODS 3 - Saúde e Bem-estar
                </div>
              </div>
              <div class="card component-card-content">
                <div class="card-body text-center">
                  <p class="mt-4 component-text-black">Assegurar uma vida saudável e promover o bem-estar para todos, em todas as idades.</p>
                </div>
              </div>
            </div>
            <!-- ods4 -->
            <div class="text-center mb-3">
              <div class="card component-card-title">
                <div class="component-card-body">
                  ODS 4 - Educação de qualidade
                </div>
              </div>
              <div class="card component-card-content">
                <div class="card-body text-center">
                  <p class="mt-4 component-text-black">Assegurar a educação inclusiva e equitativa de qualidade, e promover oportunidades de aprendizagem ao longo da vida para todos.</p>
                </div>
              </div>
            </div>
            <!-- ods11 -->
            <div class="text-center mb-3">
              <div class="card component-card-title">
                <div class="component-card-body">
                  ODS 11 - Cidades sustentáveis
                </div>
              </div>
              <div class="card component-card-content">
                <div class="card-body text-center">
                  <p class="mt-4 component-text-black">Tornar as cidades e os assentamentos humanos inclusivos, seguros, resilientes e sustentáveis.</p>
                </div>
              </div>
            </div>
            <!-- ods13 -->
            <div class="text-center mb-3">
              <div class="card component-card-title">
                <div class="component-card-body">
                  ODS 13 - Mudança do clima
                </div>
              </div>
              <div class="card component-card-content">
                <div class="card-body text-center">
                  <p class="mt-4 component-text-black">Tomar medidas urgentes para combater a mudança do clima e seus impactos.</p>
                </div>
              </div>
            </div>

          </div>
          <!-- foto comissões -->
          <div id="img-card" class="mt-5">
            <img class="w-100" src="../../assets/comissoes-andre-fraga.png" alt="Vereador André Fraga">
          </div>
          <!-- conteúdo comissão -->
          <div class="component-bg-light">
            <div class="container component-degrade">
              <!-- logo -->
              <div class="text-center pt-4">
                <img src="../../assets/comissoes.png" alt="Logo Comissões">
              </div>
              <!-- comissões -->
              <div class="mt-3 component-p-space">
                <div class="row text-center">
                  <div class="col-md-12">
                    <img src="../../assets/teste-climaticas.png" alt="ícone de gráfico">
                  </div>
                  <div class="col-md-12">
                    <img src="../../assets/teste-urbanas.png" alt="ícone de gráfico">
                  </div>
                  <div class="col-md-12">
                    <img src="../../assets/teste-legislativo.png" alt="ícone de gráfico">
                  </div>
                  <div class="col-md-12">
                    <img src="../../assets/teste-cultura.png" alt="ícone de gráfico">
                  </div>
                </div>
              </div>
            </div>
            <!-- foto sociedade -->
            <div id="img-card" class="mt-5">
              <img class="w-100" src="../../assets/sociedade-andre-fraga.png" alt="Vereador André Fraga">
            </div>
            <div  class="component-bg-secondary">
              <div class="container component-degrade">
                <!-- logo -->
                <div class="text-center pt-4">
                  <img src="../../assets/sociedade.png" alt="Projetos com a Sociedade Civil">
                </div>
              </div>
              <!-- lista de posts -->
              <ion-list class="mt-4 space-to-footer container-left component-bg-trnsparent">
                <div class="scrolling-wrapper mb-3">
                  <!-- <ion-card class="welcome-card card conteudo-card" *ngFor="let livro of livros" (click)="presentModal(livro)">
                      <ion-img class="imagem-card" src="{{livro.imagem}}"></ion-img>
                      <ion-card-content>
                        <ion-card-subtitle class="sub"> {{livro.titulo}} </ion-card-subtitle>
                      </ion-card-content>
                  </ion-card> -->
                  <div class="card component-bg-trnsparent no-border card-space" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/post-canteiro.png" alt="canteiro">
                    <div class="card-body component-bg-light card-content-slide">
                      <h5 class="card-title project-text-secondary fw-bold">CANTEIROS COLETIVOS</h5>
                      <p class="card-text component-text-black container-text">O movimento Canteiros Coletivos é uma iniciativa cidadã, autônoma e apartidária de recuperação de praças e canteiros abandonados da cidade de Salvador.</p>
                      <a href="#" class="post-link">Clique para saber mais</a>
                    </div>
                  </div>
                  <div class="card component-bg-trnsparent no-border card-space" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/post-bike.png" alt="canteiro">
                    <div class="card-body component-bg-light card-content-slide">
                      <h5 class="card-title project-text-secondary fw-bold">LA FRIDA BIKE</h5>
                      <p class="card-text component-text-black container-text">Um empreendedorismo social orgânico e empoderador, criado por mulheres negras e feito por nós, mulheres negras. Com ideia de incentivar o uso da bike como... </p>
                      <a href="#" class="post-link">Clique para saber mais</a>
                    </div>
                  </div>
                  <div class="card component-bg-trnsparent no-border card-space" style="width: 18rem;">
                    <img class="card-img-top" src="../../assets/post-redemoinho.png" alt="canteiro">
                    <div class="card-body component-bg-light card-content-slide">
                      <h5 class="card-title project-text-secondary fw-bold">REDEMOINHO</h5>
                      <p class="card-text component-text-black container-text">É uma cooperativa de serviços na área do Comércio Justo e Economia Solidária, tendo nas compras e vendas de produtos da agricultura familiar...</p>
                      <a href="#" class="post-link">Clique para saber mais</a>
                    </div>
                  </div>
                </div>
                <a href="#" class="post-link-another">Ver outros projetos</a>
              </ion-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- rodapé -->
  <footer class="footer mt-auto py-3 component-footer">
    <!-- <div class="container">
      <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
    </div> -->
    <img class="w-100" src="../../assets/footer.png" alt="Redes sociais">
  </footer>
</ion-content>
