<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- menu -->
  <nav class="navbar navbar-expand-lg personal-navbar">
    <div class="container-fluid">
      <img class="space-left-5" src="../../assets/logo-cerebro.png" alt="André Fraga">
      <button class="btn personal-btn-login" type="submit">Login</button>
      

      <!-- <div class="row" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div> -->
    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Quem sou</span></div>
        <div class="col-3 personal-links-menu"><span class="project-text-white">Nosso Mandato</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Colabore</span></div>
        <div class="col-3 personal-links-menu text-bottom"><span class="project-text-white">Contato</span></div>
      </div>
      <!-- <ul class="personal-navbar-nav me-auto mb-2 mt-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Quem sou</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Nosso Mandato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Colabore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contato</a>
        </li>
      </ul> -->
    </div>
  </nav>
  <!-- slides -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card1.png" alt="First slide">
    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card2.png" alt="Second slide">
    </ion-slide>
    <ion-slide>
      <img class="d-block w-100" src="../../assets/card3.png" alt="Third slide">
    </ion-slide>
  </ion-slides>

  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
